<div id="myModal" class="modal">
          <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete close" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div id="login">
  <div class="login-card">

    <div class="card-title">
      <h1>Please Sign In</h1>
    </div>

    <div class="content">
      <form method="POST" action="users/sign_in">

        <input id="email" type="email" name="email" title="email" placeholder="Email" required autofocus>
        <input id="password" type="password" name="password" title="password" placeholder="Password" required>

        <div class="level options">
          <div class="checkbox level-left">
            <input type="checkbox" id="checkbox" class="regular-checkbox">
            <label for="checkbox"></label>
            <span>Remember me</span>
          </div>

          <a class="btn btn-link level-right" href="user_session_path">Forgot Password?</a>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

                
                </section>
        </div>
    </div>
 </div>
          

